{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="wrapper">
    <div class="list-data">
        <h2>New Score: {{ score }}</h2>
    </div>
</div>
{% endblock %}

{#require_once $_SERVER['DOCUMENT_ROOT'] . '/funfunfun/resources/private/templates/' . $template . '.php'#}
